<div i18n:domain="ftw.mobile" tal:omit-tag="python:True">

<script id="ftw-mobile-navigation-template" type="text/x-handlebars-template">

    <div class="mobile-menu mobile-menu-{{name}}">

        <ul class="topLevelTabs">
            {{#each toplevel}}

                <li><a href="{{url}}">{{title}}</a></li>

             {{/each}}

        </ul>

        <div class="tabPanes">
            {{#each nodes}}
                <div class="tabPane">
                    <ul>
                         {{> list maxdepth=maxdepth}}
                     </ul>

                </div>
            {{/each}}

        </div>

    </div>
</script>


<script id="ftw-mobile-navigation-list-template" type="text/x-handlebars-template">
    {{#if parentNode}}

        <li class="navParentNode">
            <a href="{{parentNode.url}}" class="mobileActionNav up" i18n:translate="label_goto_parent">
                Nächst höherer Inhalt {{parentNode.title}} anzeigen.
            </a>

            <a href="{{url}}">{{title}}</a>
        </li>

    {{/if}}


     {{#each nodes}}
        <li class="nav-depth-{{depth}}">

            <a href="{{url}}">{{title}}</a>

            <a href="{{url}}" class="mobileActionNav down" i18n:translate="label_goto_children">
                Unterhinhalte von: {{title}} anzeigen
            </a>

            {{#ifDepth depth ../maxdepth}}
                {{#if nodes}}
                    <ul>
                        {{> list maxdepth=../maxdepth}}
                    </ul>
                {{/if}}
            {{/ifDepth}}
        </li>
    {{/each}}
</script>

</div>
