#portal-personaltools-wrapper {
  display: none;
  @include screen-medium {
    display: block;
  }
}

// Plone 5 toolbar
body.plone-toolbar-left-default #edit-zone {
  margin-left: -60px;
}

.navigation, #portal-breadcrumbs {
  @include screen-large() {
    display: block;
  }

  display: none;
}

#portal-logo {
  @include screen-large {
    display: inline-block;
  }

  display: none;

}
