$size-mobile-button: 54px !default;
$font-size-mobile-button: 1.5em !default;

$mobile-menu-height: 54px !default;

@mixin auto-border-color($color: $color-primary) {
  border-color: contrast($color, $color-text-inverted, $color-text, $lightness: 63%);
}

.ftw-mobile-buttons {
  li {
    width: $size-mobile-button;

    a {
      @extend .fa-icon;

      color: transparent;
      overflow: hidden;
      white-space: nowrap;
      width: $size-mobile-button;

      &:before {
        @include auto-text-color($color-primary);

        background-color: $color-primary;
        width: $size-mobile-button;
        line-height: $size-mobile-button;
        font-size: $font-size-mobile-button;
      }
    }
  }

  #user-mobile-button a {
    @extend .fa-user;
  }

  #navigation-mobile-button a {
    @extend .fa-navicon;
  }

  ul {
    @include list-horizontal;
  }

  @include tablet {
    display: none;
  }
}

.mobile-menu:not(.mobile-menu-navigation-mobile-button) {
  li {
    > a {
      display: block;
      padding: ($padding-vertical * 2) $padding-horizontal;

      @include auto-text-color($color-primary);

      background-color: $color-primary;

      @include auto-border-color($color-primary);

      border-bottom: 1px solid;
    }

    &:last-child {
      > a {
        border-bottom: none;
      }
    }
  }
}

.mobile-menu.mobile-menu-navigation-mobile-button {
  background-color: $color-secondary;
  padding: $padding-vertical $padding-horizontal;

  > .topLevelTabs {
    @include tab-list($color-tab: $color-content-background, $color-tab-select: $color-content-background);

    > li > a {
      background-color: $color-secondary;

      @include auto-text-color($color-secondary);
    }
  }

  > .tabPanes {
    margin-top: $margin-vertical;
  }

  .tabPane > ul {
    margin-right: $margin-horizontal * 2;

    li {
      display: block;
      position: relative;

      > a {
        display: block;
        padding: $padding-vertical $padding-horizontal;
        margin-right: $margin-horizontal * 4;

        @include auto-text-color($color-secondary);

        &.mobileActionNav {
          width: 3em;
          padding: $padding-vertical 0;
          margin-right: 0;
          overflow: hidden;
          white-space: nowrap;
          color: transparent;
          position: absolute;
          top: 0;

          @extend .fa-icon;

          &.down {
            right: 0;

            @extend .fa-chevron-right;
          }

          &.up {
            left: 0;

            @extend .fa-chevron-left;
          }

          &:before {
            @include auto-text-color($color-primary);

            width: 3em;
          }
        }
      }

      > ul {
        margin-left: $margin-horizontal * 2;

        li a {
          background-color: $color-primary;

          @include auto-text-color($color-primary);

          margin-bottom: 2px;
        }
      }

      &.navParentNode a:not(.up) {
        margin-left: $margin-horizontal * 4;
        margin-right: 0;
      }
    }
  }
}
